.playlist {
    font-weight: 700;
    font-size: 32px;
    background-color: #1F1F1F;
    width: 175px;
    height: 214px;
    padding: 4px 15px 0;
    border-radius: 10px;
}

.playlist__name {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin: 8px 0 0 0;
}

.playlist__artist {
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    opacity: 0.8;
    margin: 10px 0 0 0;
}

.playlist__modal {
    background-color: transparent;
    height: 150px;
    width: 145px;
    transition: all 0.2s ease-in-out;
}

.playlist__modal:hover{
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

.playlist__modal img {
    display: block;
}