@import "tailwindcss";

 body {
    background-color: #181818;
    font-family: "Vazirmatn", serif;
    min-height: 100vh;
 }

#root {
    display: grid;
    grid-template: minmax(100vh, 1fr) / 270px minmax(0, 1536px);
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
::-webkit-scrollbar-track {
    background: #2C2C2C;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #7d7d7d;
    border-radius: 5px;
    border: 2px solid #2C2C2C;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}

html {
    scrollbar-width: auto;
    scrollbar-color: #7d7d7d #2C2C2C;
}