@import "tailwindcss";

 body {
  background-color: #181818;
  font-family: "Vazirmatn", serif;
 }

#root {
    display: grid;
    grid-template: 1fr / 270px minmax(0, 1536px);
    height: 100%;
    width: 100%;
}
